<header class="header">

  <div class="header-middle">
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <div class="navbar-brand hidden-xs">
            <img src="images/logo 3.3.png" alt="Site Logo" class="site-logo">
          </div>
        </div>
      </div>
    </div>
  </div><!-- /.header-middle -->

  <div class="header-bottom">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <nav class="navbar navbar-default">

            <div class="navbar-header visible-xs">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu" aria-expanded="false">
                <i class="fa fa-bars"></i>
              </button>
              <a class="navbar-brand" href="/">
                <img src="images/logo 3.3.png" alt="Logo" class="site-logo-2">
              </a>
              <span class="teacher">
                Professor Jackson Pires
              </span>
            </div>

            <div id="menu" class="main-menu collapse navbar-collapse pull-left">

              <ul class="nav navbar-nav">

                <li class="menu-item <%= page_active('/') %>">
                  <a href="/">Home</a>
                </li>

                <li class="menu-item">
                  <a href="http://videosdeti.com.br/blog">Blog</a>
                </li>

                <li class="menu-item menu-item-has-children <%= course_page_active %>">
                  <a href="/cursos.html">Cursos</a>
                  <ul class="sub-menu children">
                    <li>
                      <a href="/free_courses.html">
                        Cursos GRÁTIS...
                      </a>
                    </li>

                    <li>
                    <a href="/paid_courses.html">
                        Cursos COM CERTIFICADO...
                      </a>
                    </li>
                    
                    <li>
                    <a href="/ruby_on_rails_courses.html">
                        Categoria Ruby on Rails...
                      </a>
                    </li>

                    <li>
                    <a href="/restful_courses.html">
                        Categoria REST / RESTful...
                      </a>
                    </li>
                    
                    <li>
                      <a href="/cursos.html">
                        TODOS os cursos...
                      </a>
                    </li>

                  </ul>
                </li>

              </ul>
            </div><!-- /.navbar-collapse -->

            
            <div id="menu" class="main-menu collapse navbar-collapse pull-right">

              <ul class="nav navbar-nav">

                <li class="menu-item">
                  <a href="http://videosdeti.com.br/newsletter">Newsletter (Cadastre-se!)</a>
                </li>

              </ul>
            </div><!-- /.navbar-collapse -->
          </nav><!-- /.navbar -->
        </div><!-- /.col-sm-7 -->

      </div>
    </div><!-- /.container -->
  </div><!-- /.header-bottom -->
</header><!-- /.header -->