<section class="banner-section slider-bottom">
  <div class="section-padding">
    <div class="container">
      <div class="bottom-slider-area text-center background-bg">
        <div class="overlay">
          <div class="banner-contents">
            <iframe width="100%" height="600" src="https://www.youtube.com/embed/oIlIVFBBbNw" frameborder="0" allowfullscreen></iframe>
          </div><!-- /.banner-contents -->
        </div><!-- /.overlay -->
      </div><!-- /.bottom-slider-area -->
    </div><!-- /.container -->
  </div><!-- /.section-padding -->
</section><!-- /.banner-section -->